<!doctype html>
<head>
    <meta charset="utf-8">
    <title>中南大学学生个人简介 徐金华 个人成绩</title>
    <link rel="stylesheet" type="text/css" href="CSS/publicCSS.css">
    <script>
        var flag=true;
    </script>
    <script type="text/javascript" src="JS/refleshTime.js"></script>
    <script type="text/javascript" src="JS/controlMusic.js"></script>
</head>

<body id="body" class="bgcolor">
    <div id="menu">
        <div class="item" style="width: 70px;"><a href="作业三0902170105徐金华.html" onclick="getCurrentSecond(this)">主页</a></div>
        <div class="item" style="width: 140px;"><a href="my_score.html" onclick="getCurrentSecond(this)">个人成绩</a></div>
        <div class="item" style="width: 70px;"><a href="my_detail.html" onclick="getCurrentSecond(this)">关于</a></div>
        <div class="headline"><b>关于我的网页</b></div>
        <div class="YearMouthDay" id="YearMouthDay"></div>
        <div class="HourMinuteSecond">
            <from>
                当前时间：<input id="HourMinuteSecond" type="text" style="width: 55px;" disabled>
            </from>
        </div>
        <div class="musicDiv">
            <select id="musicList" style="width:100px;margin:3px;">
                <option value="0" onclick="changeMusic(value)">从你的全世界路过</option>
                <option value="1" onclick="changeMusic(value)">illusionary Daytime</option>
                <option value="2" onclick="changeMusic(value)">告白之夜</option>
                <option value="3" onclick="changeMusic(value)">银魂</option>
                <option value="4" onclick="changeMusic(value)">Try</option>
                <option value="5" onclick="changeMusic(value)">稳稳的幸福</option>
                <option value="6" onclick="changeMusic(value)">夏天的风</option>
                <option value="7" onclick="changeMusic(value)">雨前茶</option>
            </select>
            <p id="current" style="font-size: 15px;"></p>
            <progress id="timeProgress" class="progress" value="0" max="100" onclick="changeTimeProgress(event)"></progress>
            <p id="total" style="font-size: 15px;"></p>
            <img id="prev" class="musicButton" src="Images/shangyishou.png">
            <img id="audio" class="musicButton" src="Images/zanting.png">
            <img id="next" class="musicButton" src="Images/xiayishou.png">
            <img id="repeat" class="musicButton" src="Images/chongbo.png"  title="重播">
            <img id="mute" class="musicButton" src="Images/yinliang.png" onmousemove="flag=false;" onmouseout="flag=true;">
        </div>
        <div id="volumeDiv" class="volumeDiv" onmousemove="flag=false;" onmouseout="flag=true;">
            <img id="makeMute" class="makeMute" src="Images/yinliang.png">
            <progress id="volumeProgress" class="progress" value="0" max="100" onclick="changeVolumeProgress(event)"></progress>
            <p id="volume" style="width: 20px;text-align: center;"></p>
        </div>
    </div>
    <div class="top_blank"></div>
    <button id="musicNumber" hidden="hidden">0</button>
    <audio autoplay style="visibility:hidden;" id="media" src="Musics/从你的全世界路过.mp3" type="audio/mpeg"></audio>
    <script>
        initialize();
        controlStatus();
    </script>
    <div>
        <ul>
            <li><b>创建时间：</b>2019年9月5日</li>
            <li><b>完成时间：</b>2019年9月7日</li>
            <li><b>编辑工具：</b>Visual Studio Code</li>
        </ul>
    </div>
    <hr/>
    <div>
        <ul>
            <li><b>修改时间：</b>2019年9月18日</li>
            <li><b>修改内容：</b>
                <ol>
                    <li>添加水平浮动菜单栏</li>
                    <li>固定菜单栏和目录</li>
                    <li>添加页脚，可上下翻页</li>
                    <li>头像添加边框和边距</li>
                    <li>对代码进行重构，添加css文件</li>
                </ol>
            </li>
        </ul>
    </div>
    <div style="text-align: center;float: left;font-size: 15px;width: 100%;font-family: 微软雅黑;margin-top: 20px;margin-bottom: 10px;">
        共2条 1/1&ensp;
        <span><button type="button" disabled="true">首页</button></span>
        <span><button type="button" disabled="true">上一页</button></span> 
        <span><button type="button" disabled="true">下一页</button></span> 
        <span><button type="button" disabled="true">尾页</button></span>
    </div>
</body>
</html>