<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>哪那么多有的没的</title>
        <meta charset="utf-8">
        <meta name="description" content="黄承喜个人主页">
        <meta name="author" content="中南大学 2017级 计算机学院 计算机科学与技术1701 黄承喜">
        <meta name="date" content="2020/04/16-">
        <script src="./static/javascript/jquery-3.5.0.min.js"></script>
        <script src="./static/javascript/vue.min.js"></script>
        <script src="./static/javascript/index.js"></script>
        <link rel="stylesheet" href="./static/css/index.css">
        <link rel="stylesheet" href="./static/css/nav.css">
        <link rel="stylesheet" href="./static/css/card.css">
    </head>
    <body>
        <div class="nav">
            <div class="mask" id="nav-mask"></div>
            <img src="./static/imgs/logo1.png" class="logo">
            <ul class="menu">
                <li><a>主页</a></li>
                <div class="toggle-menu">
                    <li class="toggle-title"><a>关于</a></li>
                    <ul>
                        <li><a href="mailto:971840889@qq.com">给我发送邮件</a></li>
                        <li><a href="tencent://message/?uin=971840889&Site=http://huangchengxi.cn">通过QQ联系我</a></li>
                        <li><a href="http://www.huangchengxi.cn:8080/Exam/index.jsp">2019Web实验</a></li>
                    </ul>
                </div>
            </ul>
            <ul class="menu login-menu">
                <div class="toggle-menu">
                    <li class="toggle-title" th:if="${!login}"><a href="/login">登录</a></li>
                    <li class="toggle-title" th:if="${login}"><a th:text="${username}"></a></li>
                    <ul>
                        <li th:if="${isAdmin}"><a href="/bookManage">书本管理</a></li>
                        <li th:if="${isAdmin}"><a href="/publication">添加笔记</a></li>
                        <li th:if="${isAdmin}"><a>新增板块</a></li>
                        <li><a href="/center">个人中心</a></li>
                    </ul>
                </div>
            </ul>
            <div class="search-bar">
                <input type="text" placeholder="找找?">
                <button>搜索</button>
            </div>
        </div>
        <div class="big-img" id="big-bg">
            <img src="./static/imgs/bg7.jpg">
        </div>
        <div class="cards">
            <div class="card note-card">
                <div class="flow-layout">
                    <div class="flow-items" id="col1">
                        <div id="type1" class="item-container">
                            <div class="flow-item" v-for="type in col">
                                <div class="card">
                                    <div class="card-title">
                                        <img class="avatar" :src="type.logoUrl==null?'/static/imgs/default-note.png':type.logoUrl">
                                        <h3>{{ type.name }}</h3>
                                    </div>
                                    <div class="card-body">
                                        <ol>
                                            <li v-for="s in type.experiences"><a :href="'/note/'+s.id">{{ s.title }}</a></li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flow-items" id="col2">
                        <div id="type2"  class="item-container">
                            <div class="flow-item" v-for="type in col">
                                <div class="card">
                                    <div class="card-title">
                                        <img class="avatar" :src="type.logoUrl==null?'/static/imgs/default-note.png':type.logoUrl">
                                        <h3>{{ type.name }}</h3>
                                    </div>
                                    <div class="card-body">
                                        <ol>
                                            <li v-for="s in type.experiences"><a :href="'/note/'+s.id">{{ s.title }}</a></li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flow-items" id="col3">
                        <div id="type3" class="item-container">
                            <div class="flow-item" v-for="type in col">
                                <div class="card">
                                    <div class="card-title">
                                        <img class="avatar" :src="type.logoUrl==null?'/static/imgs/default-note.png':type.logoUrl">
                                        <h3>{{ type.name }}</h3>
                                    </div>
                                    <div class="card-body">
                                        <ol>
                                            <li v-for="s in type.experiences"><a :href="'/note/'+s.id">{{ s.title }}</a></li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                
            </div>
        </div>
        <div class="footer">
            <div class="box">
                <img src="./static/imgs/logo1.png">
                <p>切格瓦拉</p>
                <p>找个实习真难，想去大厂真难。操作系统什么的这辈子是不可能会的，只有写写网页安卓才能维持得了生活这样子了</p>
                <p><a href="http://beian.miitbeian.gov.cn">桂ICP备19010647号</a></p>
            </div>
            <div class="box">
                <p><s>友情</s>亲情链接</p>
                <a href="https://github.com/gitofleonardo">我的Github</a>
                <a href="tencent://message/?uin=971840889&Site=http://huangchengxi.cn">QQ聊天</a>
                <a href="mailto:971840889@qq.com">QQ邮箱</a>
                <a href="mailto:xixihuangxixi@outlook.com">outlook邮箱</a>
            </div>
        </div>
    </body>
</html>