<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/static/index.css">
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/static/js/index.js"></script>
<script src="/static/jqthumb.js"></script>
<title>黄承喜的个人主页</title>
</head>
<body class="body" data-spy="scroll" data-target="#bodyScrollSpy">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-list">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="color: black;">我的主页</a>
            </div>
            <div class="collapse navbar-collapse" id="menu-list">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="">主页</a></li>
                    <li><a href="/xujinhua">徐金华的主页</a></li>
                    <li><a href="/dengyanqing">访问邓燕清的主页</a></li>
                    <li><a href="http://www.huangchengxi.cn:8080/Exam/index.jsp">2019Web实验</a></li>
                    <li onclick="contactMe()"><a href="#">QQ联系我</a></li>
                    <li><a href="mailto:971840889@qq.com">给我发送邮件</a></li>
                    <li th:if="${isAdmin}"><a href="/bookManage">书本管理</a></li>
                    <li th:if="${isAdmin}"><a href="/publication">添加笔记</a></li>
                    <li th:if="${isAdmin}" onclick="newType()"><a href="#">新增板块</a></li>
                    <li th:if="${login}"><a href="/center">个人中心</a></li>
                    <li th:if="${!login}"><a href="/login">登录</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="margin-left: 0; margin-right: 0;width: 100%;">
        <div class="row">
            <div class="col-sm-3" id="bodyScrollSpy" style="margin-top: 30px;">
                <div class="panel panel-default" style="background-color: white; border-radius: 4px;">
                    <div class="panel-heading">工具栏</div>
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#myProject">我的项目</a></li>
                            <li><a href="#recommendedBook">推荐书籍</a></li>
                            <li><a href="#picWall">照片墙</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default" style="background-color: white; border-radius: 4px; margin-top: 30px">
                    <div class="panel-heading">笔记</div>
                    <div class="panel-body">
                        <div th:if="${types.size()<=0}">暂时无数据</div>
                        <div class="panel-group" th:if="${types.size()>0}" id="types">
                            <div class="panel panel-success" th:each="type:${types}">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#types" th:text="${type.getName()}" th:href="'#type_'+${type.getId()}"></a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" th:id="'type_'+${type.getId()}">
                                    <div class="panel-body">
                                        <ul class="nav nav-pills nav-stacked">
                                            <li th:each="exp:${exps}" th:if="${exp.getSharedExperienceType().getId()==type.getId()}">
                                                <a th:href="'/note/'+${exp.getId()}" th:text="${exp.getTitle()}"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container col-sm-9">
                <div id="myProject" class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default" style="margin-top: 30px;">
                            <div class="panel-heading">都是些小项目，前一段时间(2020\2)才学了Springboot和Bootstrap</div>
                            <div class="panel-body">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>项目</th>
                                            <th>内容</th>
                                            <th>时间</th>
                                            <th>备注</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>有趣的旅行</td>
                                            <td>一款用于旅行中分享、记录的软件</td>
                                            <td>2019</td>
                                            <td><a href="https://github.com/gitofleonardo/FunnyTrip">Github</a></td>
                                        </tr>
                                        <tr>
                                            <td>2019Web实验</td>
                                            <td>词条记录网页(无框架)</td>
                                            <td>2019</td>
                                            <td>可以在导航栏找到,当然,<a href="http://www.huangchengxi.cn:8080/Exam/index.jsp">点击我</a>也可以</td>
                                        </tr>
                                        <tr>
                                            <td>微博</td>
                                            <td>当时课设题目一出来就做了的，然鹅老师并不检查（渣渣水平）</td>
                                            <td>2019</td>
                                            <td><a href="https://github.com/gitofleonardo/MyBlog">Github</a></td>
                                        </tr>
                                        <tr>
                                            <td>白板</td>
                                            <td>也是一个实验，忘了啥时候做的了，大概是19年，主要是练练socket通信和Java</td>
                                            <td>2019</td>
                                            <td><a href="https://github.com/gitofleonardo/JavaWhiteB">Github</a></td>
                                        </tr>
                                        <tr>
                                            <td>网盘</td>
                                            <td>也是一个实验，忘了啥时候做的了，大概是18年，主要是练练socket通信和Java，还有老掉牙的Swing</td>
                                            <td>2018</td>
                                            <td><a href="https://github.com/gitofleonardo/NetDisk">Github</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default" style="margin-top: 30px; overflow: hidden;" id="recommendedBook">
                            <div class="panel-heading book-head">
                                <h3>推荐好书</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-4" th:if="${#lists.isEmpty(books)}">
                                        没有什么书可以看的
                                    </div>
                                    <div class="col-sm-4">
                                        <ul class="list-group">
                                            <div th:each="book:${books}">
                                                <li th:id="${book.id}" class="list-group-item book-list-item">
                                                    <span th:text="${book.bookName}"></span>
                                                </li>
                                            </div>
                                        </ul>
                                    </div>
                                    <div class="col-sm-8">
                                        <table class="table table-striped table-bordered book-table">
                                            <tbody>
                                                <tr>
                                                    <td id="bookName">书名</td>
                                                </tr>
                                                <tr>
                                                    <td id="bookDescription">书描述</td>
                                                </tr>
                                                <tr>
                                                    <td id="bookUrl">链接</td>
                                                </tr>
                                                <tr>
                                                    <td id="bookMessage">备注</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="row" id="picWall">
                <div class="col-sm-12">
                    <div class="panel panel-default" style="margin-top: 30px;">
                        <div class="panel-heading">照片墙
                        </div>
                        <div class="panel-body" id="picWallBody">
                            <div class="row" id="picWallContainer">
                                
                            </div>
                            <div class="bottom-center-pagination">
                                <ul class="pagination" id="picWallPagination">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="beian">
        <div><a href="http://beian.miitbeian.gov.cn" style="color: white;">桂ICP备19010647号</a></div>
    </div>
    </div>
</body>
</html>